# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.rar
*.dll
*.exe
*.ilk
x64/Debug/CwCameraMarster.lib
*.pdb
*.exp
*.dcf
x64/Debug/CameraConfig.ini
x64/Debug/Image1.bmp
x64/Debug/Image2.bmp
x64/Release old/CwCameraMarster.lib
*.ipch
CwCameraMarster.opensdf
*.sdf
CwCameraMarster.sdf
串口/CwSerialPort.cpp
串口/CwSerialPort.h
*.bmp
x64/Release old/无标题.png
x64/Release/CwCameraMarster.lib
x64/Release/CwCameraMaster/CwCameraMarster.lib
*.log
CwCameraMarster/x64/Debug/RCa11204
